@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cara guna API ini?</h1>
    <p>Hanya perlu hantar request ke https://ws.api.ijat.my/[KOD]</p>
    <p>Kod boleh didapati di <a href="https://www.e-solat.gov.my/index.php?siteId=24&pageId=50">sini</a>.</p>
    <p>Contoh: <a href="https://ws.api.ijat.my/wly01">https://ws.api.ijat.my/wly01</a></p>
    <p>Jika kod tidak betul, semua waktu solat akan diset menjadi 7.30.</p>
</div>